.cart-control {
  /*  display: flex;
    flex-direction: row;*/
  display: flex;
  gap: 1rem;

  @media (max-width: 60em) {
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
  }
  /*  @media (min-width: 60em) {
      grid-template-columns: 35% 1fr;
    }
  
  
    @media (max-width: 60em) {
      grid-template-columns: repeat(2, 1fr);
    }*/

  .add-to-cart {
    font-weight: 700;
    padding: 1rem;
  }

  .add-to-cart {
    background-color: var(--clr-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: 100%;

    svg {
      position: relative;
      right: 1rem;

      path {
        fill: black;
      }
    }
  }

  .quantity-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--clr-light-grayish-blue);
    width: 60%;

    @media (max-width: 60em) {
      width: 100%;
    }

    button {
      background: none;
      display: grid;
      place-items: center;
      cursor: pointer;
    }

    span {
      font-weight: 700;
    }
  }

  .quantity {
    background-color: var(--clr-palge-orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;
  }

  .add-to-cart:hover {
    background-color: var(--clr-palge-orange);
  }
}
