.profile-container {
  &__dropdown {
    position: relative;
  }

  &__dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 22rem;
    height: 15rem;
    top: calc(100% + 1.75rem);
    background-color: var(--clr-white);
    border-radius: 0.5rem;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;

    transition:
      opacity 150ms ease-in-out,
      transform 150ms ease-in-out;

    .cart-header {
      border-bottom: 1px solid var(--clr-grayish-blue);
      padding-inline: 1rem;
      padding-block: 0.5rem;

      p {
        font-weight: 700;
      }
    }

    .cart-content {
      padding: 1rem;
      margin: auto;

      &__message-block {
        display: grid;
        place-items: center;
      }

      &__message {
        font-weight: 700;
        color: var(--clr-dark-grayish-blue);
      }

      .checkout {
        width: 100%;
        margin-block-start: 0.5rem;
        background-color: var(--clr-orange);
        color: var(--clr-white);
        font-weight: 700;
        padding-block: 1rem;

        &:hover {
          color: var(--clr-black);
        }
      }

      .cart-content-grid {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        margin-block-end: 0.5rem;

        .product-img {
          img {
            height: 50px;
            width: 50px;
            border-radius: 4px;
          }
        }

        .product-details {
          p {
            margin-block: 0;
          }

          &__name {
            color: var(--clr-dark-grayish-blue);
          }

          &__price {
            margin-block-start: 0.5rem !important;
            color: var(--clr-dark-grayish-blue);

            .final-price {
              color: var(--clr-black);
              font-weight: 700;
            }
          }
        }

        .delete {
          .empty-cart {
            all: unset;
          }
        }
      }
    }

    @media (max-width: 30em) {
      z-index: 1;
    }
  }

  .open {
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
    opacity: 1;

    @media (max-width: 60em) {
      transform: translateX(-75%);
    }
  }
}
