.profile-container {
  &__dropdown {
    position: relative;
    z-index: 9999;
  }

  &__dropdown-menu {
    display: grid;
    position: absolute;
    width: 23rem;
    top: calc(100% + 2.25rem);
    background-color: var(--clr-white);
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

    opacity: 0;
    pointer-events: none;
    transition:
      opacity 150ms ease-in-out,
      transform 150ms ease-in-out;

    .cart-header {
      border-bottom: 1px solid var(--clr-dark-grayish-blue);
      padding-inline: 1rem;
    }

    .cart-content {
      padding: 1rem;

      .cart-content-grid {
        display: flex;
        gap: 1rem;

        .product-img {
          img {
            height: 30px;
            width: 30px;
          }
        }

        .product-details {
          p {
            margin-block: 0;
          }
        }

        .delete {
          .empty-cart {
            //all: unset;
          }
        }
      }
    }
  }

  .open {
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
    opacity: 1;

    @media (max-width: 60em) {
      transform: translateX(-67%);
    }
  }
}
