.hero {
  width: 100%;
  display: flex;
  //flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: 4rem;

  @media (max-width: 60em) {
    padding-block-start: 0;
    margin-block-start: 0;
  }
}
