.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  .modal {
    position: fixed;
    background: white;
    width: 40%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 1em;

    @media (max-width: 40em) {
      width: 70%;
    }

    &__header {
      text-align: center;
      border-bottom: 0.1rem solid var(--clr-grayish-blue);

      p {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }

    &__body {
      text-align: center;
    }

    &__footer {
      display: flex;

      button {
        all: unset;
        margin-left: auto;
        background-color: var(--clr-orange);
        padding: 0.5em;
        padding-inline: 1em;
        border-radius: 7px;
      }

      button:hover {
        cursor: pointer;
        color: var(--clr-white);
      }
    }
  }
}
