.app {
  position: relative;

  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}

.border-container {
  display: grid;
  place-items: center;

  @media (max-width: 60em) {
    display: none;
  }

  .border {
    border-bottom: 1px solid var(--clr-grayish-blue);
    width: calc(100% - 14rem);
  }
}
