.app {
  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}

// Hamburger menu icon
.menu-icon {
  display: none;

  @media (max-width: 40em) {
    display: block;
    z-index: 2;
  }
}
