.app {
  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}

// Hamburger menu icon
.menu-icon {
  display: none;
  cursor: pointer;
  background: url("/images/icon-menu.svg") no-repeat;

  border-radius: 0;

  @media (max-width: 40em) {
    display: block;
    margin-inline-end: 1rem;
    z-index: 3;
  }
}

.menu-icon[aria-expanded="true"] {
  background: url("/images/icon-close.svg") no-repeat;
}
