.app {
  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}

// Hamburger menu icon
.menu-icon {
  background: none;
  border: none;
  padding: 0;

  @media (min-width: 35em) {
    display: none;
  }
/*  display: none;
  cursor: pointer;
  background: url("/images/icon-menu.svg") no-repeat;
  margin-inline-start: auto;
  border-radius: 0;

  @media (max-width: 40em) {
    display: block;
    margin-inline-end: 1rem;
    z-index: 3;
  }*/
}

/*.menu-icon[aria-expanded="true"] {
  background: url("/images/icon-close.svg") no-repeat;
}*/

.border-container {
  display: grid;
  place-items: center;

  @media (max-width: 60em) {
    display: none;
  }

  .border {
    border-bottom: 1px solid var(--clr-grayish-blue);
    width: calc(100% - 14rem);
  }
}
