.cart-control {
/*  display: flex;
  flex-direction: row;*/
  display: grid;
  place-content: center;
  gap: 1rem;
  grid-template-columns: 30% 1fr;

  .add-to-cart, .quantity {
    font-weight: 700;
  }

  .add-to-cart {
    background-color: var(--clr-orange);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      position: relative;
      right: 1rem;
      path {
        fill: black;
      }
    }
  }

  .quantity {
    background-color: var(--clr-palge-orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;
  }

  .add-to-cart:hover {
    background-color: var(--clr-palge-orange)
  }

  @media (max-width: 60em) {
   grid-template-columns: repeat(2, 1fr);
  }
}
