.cart-control {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .add-to-cart, .quantity {
    font-weight: 700;
  }

  .add-to-cart {
    background-color: var(--clr-orange);

    svg {
      path {
        fill: black;
      }
    }
  }

  .quantity {
    background-color: var(--clr-palge-orange);
  }

  .add-to-cart:hover {
    background-color: var(--clr-palge-orange)
  }

  @media (min-width: 60em) {
    grid-template-columns: repeat(2, 1fr);
  }
}
