.cart-control {
  display: grid;
  gap: 1rem;

  .add-to-cart {
    background-color: var(--clr-orange);
  }

  .quantity {
    background-color: var(--clr-palge-orange);
  }

  .add-to-cart:hover {
    background-color: var(--clr-palge-orange)
  }

  @media (min-width: 60em) {
    grid-template-columns: repeat(2, 1fr);
  }
}
