.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 5rem;

  @media (max-width: 60em) {
    padding-block-start: 0;
  }
}
