@use "App";
@use "Navbar";

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  height: 100vh;
}

.overlay {
  background: rgba(36, 20, 38, 0.5);
}
