.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__container {
    display: flex;
    justify-content: space-between;
    //  NAVIGATION BAR BRAND
    .navbar-brand {
      .brand-title {
        font-size: 1.5rem;
        margin: .5rem;
      }
    }

    //  NAVIGATION BAR LINKS
    .navbar-links {
      // Hide the links when window reaches tablet screen size
      @media (max-width: 60em) {
        display: none;
      }

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;

          a {
            text-decoration: none;
            padding: 1rem;
            display: block;
          }
        }
      }
    }
  }

//  NAVIGATION CART AND PROFILE SECTION
  .navbar-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
