.navbar {
  padding: 30px 5%;
  &__border {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--clr-grayish-blue);
  }

  @media (max-width: 40em) {
    padding: 1em 1em 1em 1.25em;
  }

  &__brand {
    margin-inline-end: 3rem;
    font-size: 1.25rem;
  }

  &__menu {
    display: flex;

    @media (max-width: 40em) {
      background: whitesmoke;
      position: fixed;
      inset: 0 30% 0 0;
      transform: translateX(100%);
      transition: transform 350ms ease-in-out;
      z-index: 1;
      flex-direction: column;
      padding: min(30vh, 1rem) 0.5em;
    }
  }

  @media (max-width: 40em) {
    &__menu[data-visible="true"] {
      transform: translateX(0%);
    }

    &__menu[data-visible="false"] {
      transform: translateX(-100%);
    }
  }

  &__items {
    display: flex;
    align-items: center;
  }

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--clr-black);

    @media (max-width: 40em) {
      display: grid;
      gap: 1rem;
      padding-block-start: 5rem;
    }

    li {
      display: inline-block;
      padding: 0 15px;

      a {
        text-decoration: none;
        display: block;
        color: var(--clr-dark-grayish-blue);

        @media (max-width: 40em) {
          color: var(--clr-black);
          font-weight: 700;
        }
      }

      a:hover {
        color: var(--clr-very-dark-blue);
      }
    }
  }

  &__cart {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: auto;
    gap: 1rem;

    .profile-icon {
      display: grid;
      place-items: center;
      width: 40px;
      height: 40px;

      img {
        margin: auto;
        max-width: 100%;

        @media (max-width: 40em) {
          z-index: 2;
        }
      }
    }
  }
}
