.product-page {
  width: 1100px;

  @media (max-width: 60em) {
    width: auto;
  }

  &__grid {
    display: grid;
    place-content: center;

    @media (min-width: 40em) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__img-col,
  &__info-col {
    display: grid;
    place-content: center;
  }

  &__img-col {
    img {
      width: 500px;
      height: 500px;
      border-radius: 15px;

      @media (max-width: 60em) {
        width: 100%;
        height: auto;
        border-radius: 0;
      }
    }
  }

  &__info-col {
    .container {
      padding: 2rem;
    }
  }

  &__company-name {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    margin-block-end: 1.5rem;
    color: var(--clr-dark-grayish-blue);
  }

  &__product-heading {
    font-size: 3.25rem;
    line-height: 1;
    margin-block-end: 3rem;
    color: var(--clr-very-dark-blue);
  }

  &__product-description {
    line-height: 2;
    color: var(--clr-dark-grayish-blue);
  }

  .discount {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;

    &__discount-price {
      font-size: 2rem;
      font-weight: 700;
      color: var(--clr-very-dark-blue);
    }

    &__discount-percentage {
      background-color: var(--clr-very-dark-blue);
      color: var(--clr-light-grayish-blue);
      border-radius: 5px;
      padding: 0.2rem 0.5rem 0.2rem 0.5rem;
      font-weight: 700;
    }
  }

  &__original-price {
    text-decoration: line-through;
    font-weight: 700;
    color: var(--clr-dark-grayish-blue);
  }
}
